<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
        div {
            margin-bottom: 10px;
        }
    </style>
</head>

<body>
    <h1><%= title %></h1>
    <%if (typeof error != 'undefined') { %>
        <p><%= error %></p>
    <% } %>
    <form action="/auth/login" method="POST">
        <div>
            <span>Username: </span>
            <input type="text" placeholder="username" name="username" required/>
        </div>
        <div>
            <span>Password: </span>
            <input type="password" placeholder="password" name="password" required/>
        </div>
        <div>
            <input type="submit">
        </div>
    </form>
</body>

</html>